<% provide(:title, 'Home') %>

<div class = "center hero-unit">
	<h1>Xtronger</h1>
	<h2>
		Fitter Together
	</h2>

	<%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("wolfpack1.jpg", alt: "Strongla"), '#' %>