<% provide(:title, 'Play') %>
<h1>Play</h1>		
<h3>Basic Tabs</h3>

<div class="tabbable">
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tabs1-pane1" data-toggle="tab">Markup</a></li>
			
			<li class="">
				<a href="#tabs1-pane2" data-toggle="tab">Twitter Docs</a>
			</li>
			
			<li class="">
				<a href="#tabs1-pane3" data-toggle="tab">Tab 3</a>
			</li>
			
			<li>
				<a href="#tabs1-pane4" data-toggle="tab">Tab 4</a>
			</li>
	</ul><!-- /.nav-tabs -->
			
	<div class="tab-content">

		<div class="tab-pane active" id="tabs1-pane1">
			<h4>The Markup</h4>
			<p>
				<a href="http://twitter.github.com/bootstrap/components.html#navs">See the Bootstrap documentation</a>
			</p>
			<pre class="prettyprint"></pre>
		</div>
		
		<div class="tab-pane" id="tabs1-pane2">
			<h4>See the docs!</h4>
			<p>Check out Twitter Bootstrap's tabs documentation:</p>
			<p>
				<a class="btn" href="http://twitter.github.com/bootstrap/components.html#navs">Tabs Markup Documentation</a>
			</p>
			<p>
				<a class="btn" href="http://twitter.github.com/bootstrap/javascript.html#tabs">Tabs JavaScript Documentation</a>
			</p>
		</div>
				
		<div class="tab-pane" id="tabs1-pane3">
			<h4>Pane 3 Content</h4>
			<p>
				Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.
			</p>
		</div>
				
		<div class="tab-pane" id="tabs1-pane4">
			<h4>Pane 4 Content</h4>
			<p>
				Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.
			</p>
		</div>

	</div><!-- /.tab-content -->
</div><!-- /.tabbable --> 	 	