<li>
	<span class="content">
		<%= "Workout ID: " + workout.id.to_s %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(workout.created_at) %> ago.
	</span>
	<div>
		Reps done: <%= workout.reps.count %>
	</div>
	<ol>
		<% workout.reps.each do |rep| %>
			<li>
			<%= "Exercise: " + Exercise.find(rep.exercise_id).name + ", " +
				"Weight: " + rep.weight_additional_kg.to_s %>
			</li>
		<%end%>
	</ol>
</li>