<div>
<footer class="footer">
  <small>
    <a href="#">Fitness + Social</a>
    by Developer Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Community</a></li>
    </ul>
  </nav>
</footer>
</div>